
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
	font-family: 'Muli', sans-serif;
  	line-height: 1.5;
  	font-weight: 200;
}
select {
	text-align-last:center;
}
/* disable number spinners */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  text-align:center;
  -webkit-appearance: none; 
  margin: 0; 
}
textarea {
	width:98%;
	display:block;
	margin: 0 auto;
	resize: none;
	border-left:rgba(0,0,0,1);
	border-right:rgba(0,0,0,1);
	border-top:rgba(0,0,0,1);
}
.nav {
	width:100%;
	height: 116px;
	background-color: #a38a4a;
}
.header {
	background: url('./assets/bell.png');
	width:100%;
	/*border:solid blue 1px;*/
	height: 500px;
	background-color: #a38a4a;
	background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	
}
.subheaderParentDiv {
	background-color: rgba(44,73,10, .09);
	border: solid 1px rgba(221, 193, 121,.09);

}
.subheader {
	width:100%;
	/*border:solid blue 1px;*/
	min-height: 150px;
	margin-top:1px;
	/*opacity: 0.09;*/
	/*background-color: rgba(44,73,10, .09)*/
	/*border: solid 1px #ddc179;*/
}
.formPage {
	width:100%;
	/*border:solid blue 1px;*/
	min-height:725px;

}
.innerFormPage {
	/*border:solid blue 3px;*/
	width:741px;
	height:100%;
	margin: 0 auto;
	margin-top: 5px;
	/*DELETE MARGIN LATER*/
	margin-bottom: 1px;
}
/* parent for all form lines*/
.parentFormComponent{
	display:flex;
	/*border: solid red 1px;*/
	width:100%;
	height:100px;
}
.parentFormComponent p {
	color: #a38a4a;
	letter-spacing:.5px;
	font-weight: 300;
	font-size: 16px;
}
.inputTitle{
	font-weight:500;
	color:#a38a4a;
}

.buttonContainer {
	display:flex;
	width:100%;
	height: 57px;
	/*border:solid blue 1px;*/
}
/* Previous button */
#previousButton{
	cursor:pointer;
	user-select:none;
	/*border: solid blue 1px;*/
	display:flex;
	flex-direction: column;
	height:100%;
	width:50%;
	box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.16);
	transition:.3s;
	/*align-self: center;*/
}

#previousButton:hover {
	/*border: solid blue 1px;*/
	width:50%;
	box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
	transition:.3s;
}
#previousButton p {
	text-align:center;
}


/* Back Button*/
#backButton{
	cursor:pointer;
	user-select:none;
	/*border: solid blue 1px;*/
	display:flex;
	flex-direction: column;
	height:100%;
	width:50%;
	box-shadow: 0px 2px 7px 2px rgba(0, 0, 0, 0.16);
	transition:.3s;
	/*align-self: center;*/
}

#backButton:hover {
	/*border: solid blue 1px;*/
	width:50%;
	box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
	transition:.3s;
}
#backButton p {
	text-align:center;
}
/* Next Button */
#nextButton {
	cursor:pointer;
	user-select:none;
	display:flex;
	flex-direction: column;
	/*border: solid blue 1px;*/
	width:50%;
	height:100%;
	background-color:#a38a4a;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.16);
	transition:.3s;
}
#nextButton:hover {
	box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.3); 
}
#nextButton p {
	text-align:center;
}

/* Submit Button */
#submitButton {
	cursor:pointer;
	user-select:none;
	display:flex;
	flex-direction: column;
	/*border: solid blue 1px;*/
	width:50%;
	height:100%;
	background-color:#a38a4a;
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.16);
	transition:.3s;
}
#submitButton:hover {
	box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.3); 
}
#submitButton p {
	text-align:center;
}

/* form div heights */
.short {
	height:45px;
}
.medium {
	height:65px;
}
.tall {
	height: 120px!important;

}
.blackText{
	color:black;
}

/* form div widths */
.fiftyPercent{
	/*border:solid green 1px;*/
	width:50%;
	height:100%;
	padding-left: 5px;
	padding-right: 5px;
}
.thirdsDiv {
	/*border:solid green 1px;*/
	margin:0 auto;
	height:100%;
	width:33%;
	padding-left: 5px;
	padding-right: 5px;
}
.sixtyPercent {
	/*border:solid green 1px;*/
	height:100%;
	width:60%;
	padding-left: 5px;
	padding-right: 5px;
}
.fourtyPercent {
	/*border:solid green 1px;*/
	height:100%;
	width:40%;
	padding-left: 5px;
	padding-right: 5px;
}
.fullLength {
	width:100%;
	height:100%;
	padding-left: 5px;
	padding-right: 5px;
	/*border: solid green 1px;*/
}
/* input */
textarea, input, button, select { 
	outline: none; 
}
textarea {
    height: 4em!important;
}

.formInput {
	width: 100%;
	height:default;
	border-left:none;
	border-right:none;
	border-top:none;
	font-size: 16px;
	font-weight:200;
}
.sixtyPercentInput {
	width:80%;

}
/* black text for option select */
.blackText {
	color: black!important;
}


/* form page 1 */
#companyName {
	width: 100%;
}

/* form page 2 */
.formOption{
	width:100%;
	text-align: center;
}
.formOptionMedium {
	width:40%;
}
.formOptionShort{
	width:15%;
}
/* form page 3*/
.typeOfBar div {
	display:flex;
	width:100%;
	text-align:center;
}

.amenitiesOpen {
	height: 250px;
	overflow: hidden;
	transition: .3s;

}
.amenitiesCollapse {
	overflow: hidden;
	height: 1px;
	transition: .3s;
}
.downArrow ::after {
	content:'';
	width:40px;
	height:20px;
	display: inline-block;
	background:url("./assets/arrow.png")no-repeat;
	background-size: 50%;
	background-position: bottom;

}
.upArrow ::after {
	content:'';
	width:40px;
	height:20px;
	display: inline-block;
	background:url("./assets/arrow.png")no-repeat;
	background-size: 50%;
	background-position: top;
	-webkit-transform: rotate(180deg);
  	transform: rotate(180deg);

}



/* subheader */
.progressComponent{
	display:flex;
	justify-content: center;
	align-items: center;
	width:500px;
	/*border: solid red 1px;*/
	width:100%;
	min-height:75px;
}
.circle {
	display:flex;
	border:solid #a38a4a 3.9px;
	height: 70px;
	width:70px;
	border-radius:100%;
	justify-content:center;
	align-items:center;
	font-size: 32.6
	/*background-color: #a38a4a;*/
}
.circle p {
	font-size: 36px;
	color:#a38a4a;
	font-weight:500;
}
.line {
	width:220px;
	height: 0px;
	border:solid #d9d9d9 2px;
	border-top:none;

}
.instructions {
	padding-bottom:40px;
}
.instructions p {
	font-size: 24px;
	color: #2c490a;
	letter-spacing:1px;
}

/* subheader 1*/
#circle1_1 {
	background-color: #a38a4a;
}
#circle1_1 p {
	color:white;
}
#tellUsMore {
	margin: 0 auto;
	width:85%;
	text-align: center;
	letter-spacing:1px;
	margin-bottom: 30px;
}
#tellUsMore p {
	font-size: 20px;
	color:#9b9b9b;
}
.bottomMargin {
	margin-bottom:15px;
}

/* subheader 2*/
#circle2_1 p, #circle2_2 p {
	color:white;
}
#circle2_1, #circle2_2  {
	background-color: #a38a4a;
}
/* subheader 3*/
#circle3_1 p, #circle3_2 p, #circle3_3 p {
	color:white;
}
#circle3_1, #circle3_2, #circle3_3 {
	background-color: #a38a4a;
}





/* form page 2 */

#expectedGuestMinInput, #expectedGuestMaxInput {
	width:80%!important;
}
/*Event Budget */
#perGuestDiv {
	display:flex;
	align-items: center
}

#totalBudgetDiv {
	display:flex;
	display:flex;
	align-items: center
}

#startTimeLabelDiv {
	display:flex;
	flex-direction:column;
	justify-content: flex-end;

}
#durationLabelDiv {
	display:flex;
	flex-direction:column;
	justify-content: flex-end;
	padding-left: 1.5%;
}


#timeDiv {
	display:flex;
	justify-content: center;
	padding: 0;
	/*border:solid green 1px;*/
}
#hoursDiv {
	width: 20%;
	/*border:solid red 1px;*/
	height:50%;
	margin-right:1%;
}
#minutesDiv {
	width: 20%;
	height:50%;
	margin-right:1%;
	/*border:solid red 1px;*/

}
#amPMDiv {
	width: 10%;
	height:50%;
	/*border:solid red 1px;*/
	margin-right:1%;
}

#durationDiv {
	width: 50%;
	height:50%;
	/*border:solid blue 1px;*/
}
#durationButtonDiv {
	/*border:solid red 1px;*/
}
#durationInput {
	/*border:solid green 1px;*/
}
#expectedGuestMinPlus, #expectedGuestMinMinus, #expectedGuestMaxMinus, #expectedGuestMaxPlus {
	font-size: 35px;
	padding-top: 0 ;
	padding-bottom: 2px ;
	margin-top: 0 ;
	margin-bottom: 0 ;
}


/* form page 3 */



/* Change Materialize CSS */

/* INPUT */
.input-field :focus {
	border-bottom: 1px solid #a38a4a!important;
	box-shadow: 0 1px 0 0 #a38a4a!important;
}
.input-field textarea:focus {
	border-bottom: 1px solid #a38a4a!important;
	
	/* Over write above input box shadow*/
	box-shadow: 0 0 0 0 #a38a4a!important;
}
/* OPTION DROP DOWN */
.dropdown-content li > a, .dropdown-content li > span {
	color: rgba(0,0,0,.5)!important;
}
/* RADIO BUTTONS*/
[type="radio"].with-gap:checked + label:before {
border-radius: 50%;
border: 2px solid #a38a4a!important; }

[type="radio"].with-gap:checked + label:after {
border-radius: 50%;
border: 2px solid #a38a4a!important;
background-color: #a38a4a!important;
z-index: 0;
-webkit-transform: scale(.5);
-moz-transform: scale(.5);
-ms-transform: scale(.5);
-o-transform: scale(.5);
transform: scale(.5); }

/* Check box */
.checkbox-gold[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #a38a4a!important;
     background-color: #a38a4a!important;
}


/* BUTTON */
/*button:active,:visited {
	background-color: red!important;
	
}*/
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
	background-color:white!important;
	color:#a38a4a!important;

	padding: 5px;
	border: rgba(0,0,0,1);
	/*border-left: rgba(0,0,0,1);
	border-right: rgba(0,0,0,1);*/
}



.select-dropdown {
	color:rgba(158,158,158,.5);

}



/* code from inbase to change dropdown arrows */
/*
.material .material-select > label strong{
    border-color: lightgray transparent transparent transparent!important;
    border-style: solid!important; 
    border-width: 6px 5px 0 5px!important;
    background-image:url('../assets/arrow.png')!important;
 background-repeat:no-repeat!important;       
    margin-top: -3px!important;
    width: 20px!important;
    height: 18px!important;
    position: absolute!important;
    right:0;top:50%!important;
}
*/
